<section id="section">
 <div class="sign-container">
  <div><h1 class="section-title form-title">Regi<span>ster</span></h1></div>
   <div class="contact-form">
    <form action="/signup" method="post">
     <dl class="contact-form-dl">
      <div class="contact-form-row">
        <dt class="contact-form-label"><label for="name" class="required">名前: </label></dt>
        <dd class="contact-form-input"><input type="text" name="name" placeholder="name"></dd>
      </div>
      <div class="contact-form-row">
        <dt class="contact-form-label"><label for="email" class="required">メールアドレス: </label></dt>
        <dd class="contact-form-input"><input type="email" name="email" placeholder="text@example.com"></dd>
      </div>
      <div class="contact-form-row">
        <dt class="contact-form-label"><label for="password" class="required">パスワード: </label></dt>
        <dd class="contact-form-input"><input type="password" name="password"></dd>
      </div>

      <div class="contact-form-button"><input type="submit" value="サインアップ"></div>
      <p>アカウントがすでにある方は<a href="/signin">こちら</a></p>
     </dl>
    </form>
   </div>
 </div>
</section>